# generic ignore files
*.gitignore.*

# compiled output
/tmp
/out-tsc
/dist

# dependencies
/node_modules

# lock files
*.lock
*-lock.json

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
