<div class="card p-2 shadow-2">
  <p-toolbar styleClass="mb-2">
    <ng-template pTemplate="left">
      <h5>{{ '::UnitGroup' | abpLocalization }}</h5>
    </ng-template>

    <ng-template pTemplate="right">
      <button
        *ngIf="table?.multiSortMeta?.length > 0"
        pButton
        pRipple
        type="button"
        icon="pi pi-filter-slash"
        class="p-button-rounded p-button-text p-speeddial-button p-button-plain"
        [ngStyle]="{ 'margin-right': '.5rem' }"
        (click)="clearSort()"
      ></button>

      <p-button
        *abpPermission="'ProductManagement.UnitGroup.Create'"
        label="{{ '::NewUnitGroup' | abpLocalization }}"
        styleClass="p-button-sm"
        icon="pi pi-plus"
        (click)="showDialog(0)"
      >
      </p-button>
    </ng-template>
  </p-toolbar>

  <p-table
    #unitGroupDt
    [dataKey]="tableConfig.dataKey"
    [lazy]="tableConfig.lazy"
    (onLazyLoad)="loadUnitGroups($event)"
    [value]="unitGroups$ | async"
    responsiveLayout="stack"
    styleClass="p-datatable-sm"
    [rowHover]="true"
    [paginator]="tableConfig.paginator"
    [rows]="pageSize"
    [totalRecords]="totalRecords | async"
    [loading]="loading"
    [showCurrentPageReport]="tableConfig.showCurrentPageReport"
    [rowsPerPageOptions]="pageSizeOptions$ | async"
    [sortMode]="tableConfig.sortMode"
    paginatorDropdownAppendTo="body"
    stateStorage="local"
    [stateKey]="filterStateToken"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th>{{ '::Actions' | abpLocalization }}</th>

        <th pSortableColumn="code">
          {{ '::DisplayName:Code' | abpLocalization }}
          <p-sortIcon field="code"></p-sortIcon>
        </th>

        <th pSortableColumn="name">
          {{ '::DisplayName:Name' | abpLocalization }}
          <p-sortIcon field="name"></p-sortIcon>
        </th>
      </tr>

      <tr>
        <th>
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-filter-slash"
            class="p-button-rounded p-button-text p-speeddial-button p-button-plain"
            [ngStyle]="{ 'margin-left': '.9rem' }"
            (click)="clearSort()"
          ></button>
        </th>

        <th>
          <p-columnFilter type="text" field="code" matchMode="contains"> </p-columnFilter>
        </th>

        <th>
          <p-columnFilter type="text" field="name" matchMode="contains"> </p-columnFilter>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-unitGroup let-columns="columns">
      <tr (dblclick)="selectUnitGorup(unitGroup)">
        <td style="width: 7rem">
          <span class="p-column-title">
            {{ '::Actions' | abpLocalization }}
          </span>

          <span>
            <button
              *ngIf="'ProductManagement.UnitGroup.Delete' | permission"
              pButton
              pRipple
              type="button"
              icon="pi pi-trash"
              class="p-button-rounded p-button-danger p-button-text"
              (click)="deleteOnClick(unitGroup.id, unitGroup.name)"
            ></button>
            <button
              *ngIf="'ProductManagement.UnitGroup.Edit' | permission"
              pButton
              pRipple
              type="button"
              icon="pi pi-pencil"
              class="p-button-rounded p-button-plain p-button-text"
              (click)="showDialog(1, unitGroup.id)"
            ></button>
          </span>
        </td>
        <td>
          <span class="p-column-title">
            {{ '::DisplayName:Code' | abpLocalization }}
          </span>
          {{ unitGroup.code }}
        </td>
        <td>
          <span class="p-column-title">
            {{ '::DisplayName:Name' | abpLocalization }}
          </span>
          {{ unitGroup.name }}
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="3" class="text-center">
          {{ '::NoRecordsFound' | abpLocalization }}
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="paginatorleft"></ng-template>
  </p-table>
</div>

<app-unit-group-create-dialog *ngIf="createDialogVisible" [(visible)]="createDialogVisible">
</app-unit-group-create-dialog>

<app-unit-group-edit-dialog
  *ngIf="editDialogVisible"
  [(visible)]="editDialogVisible"
  [unitGroupId]="selectedUnitGroupId"
>
</app-unit-group-edit-dialog>
